.my-class {
    background: #ffffff;
}

.spaces {
	padding: 70px;
}

.navbar-inverse {
	background: #2c3e50;
}

.jumbotron {
	color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;	
}

.truth-table{
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #2c3e50;
}

th {
	vertical-align: middle;
	text-align: center;
}

.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}